.main-content {
  flex: 1;
  padding: 2rem;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.light{
  background-color: white !important; 
  color: black !important;
}
.black {
  background-color: #121212 !important;
  color: whitesmoke !important;
}

.light,
.black {
  min-height: 100vh;
}